body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.App {
  width: 80%;
  background-color: #bebfc2;
}

.card__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px;
}

.card__item {
  display: flex;
  flex-flow: column wrap;
  width: 210px;
  padding: 10px;
}

.card__image {
  width: 210px;
  height: 125px;
}

.card__ul {
  list-style-type: none;
  padding: 0;
}
